/***  FONTS ***/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

/***  VARIABLES & THEMES ***/

:root {
  --primary-color: #cf0f0f;
  --primary-color-contrast: #ffffff;
  --field-background-color: #000;
  font-size: 62.5%;
}

.light-theme {
  --page-background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 65%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --header-background-color: #e3e3e3;
  --highlight-color: #000000;
  --featured-font-family: 'Archivo Black', sans-serif;
  --character-top-image-src: url("./assets/images/characters/kids-on-the-bike.svg");
  --character-top-image-color: #ffffff;
  --character-bottom-image-src: url("./assets/images/characters/inverted-world-monster.svg");
  --character-bottom-image-color: #e5e5e5;
  --background-lamp-image: url("./assets/images/backgrounds/lamps.png");
  --footer-background-color: #b5bbbf;
}

.dark-theme {
  --page-background: linear-gradient(
    180deg,
    #050000 0%,
    #130404 65%,
    rgba(19, 1, 1, 0.75) 100%
  );
  --header-background-color: #220f0f;
  --highlight-color: #ffffff;
  --featured-font-family: "Rubik Glitch", sans-serif;
  --character-bottom-image-src: url("./assets/images/characters/kids-on-the-bike.svg");
  --character-bottom-image-color: rgba(255, 255, 255, 0.1);
  --character-top-image-src: url("./assets/images/characters/inverted-world-monster.svg");
  --character-top-image-color: #000;
  --background-lamp-image: url("./assets/images/backgrounds/lamps-inverted.png");
  --footer-background-color: #000;
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
  letter-spacing: 5px;
  font-weight: normal;
}

.dark-theme .invert-element {
  transform: rotateZ(180deg) scaleX(-1);
}

/* =========== GENERYC STYLES ========== */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h2,
h3 {
  font-family: var(--featured-font-family);
  font-size: 4.8rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

p {
  color: var(--highlight-color);
}

p,
input,
textarea,
label {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  line-height: 20px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  transition: background 1s;
  font-family: var(--featured-font-family);
  padding: 16px 32px;
}

.container {
  display: flex;
  align-items: center;
  margin-inline: 12rem;
}

/* =========== HEADER ================= */
header {
  display: flex;
  flex-direction: column;
  min-height: 850px;
  align-items: center;
  text-align: center;
  background-color: var(--header-background-color);
  position: relative;
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./assets/images/banner/florest.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  filter: saturate(0);
  opacity: .2;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 6.7rem;
  z-index: 1;
}

header .container p {
  width: 75rem;
  font-size: 1.6rem;
  margin-bottom: 1.9rem;
}

header .container button {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 2rem;
  border: 3px solid var(--primary-color);
}

header .container button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

/* ========== IMG INVERTED WORLD ============= */
.img-invert-world {
  width: 100%;
  max-width: 900px;
  position: absolute;
}

.img-invert-world#top-img {
  background-color: var(--character-top-image-color);
  height: 100%;
  bottom: -3px;

  mask: var(--character-top-image-src) bottom / 100% no-repeat;
  -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.container-img-invert-world {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.img-invert-world#bottom-img {
  background-color: var(--character-bottom-image-color);
  height: 500px;
  transform: rotateZ(180deg) scaleX(-1);
  position: relative;

  mask: var(--character-bottom-image-src) top / contain no-repeat;
  -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
}

/* ======== MAIN STYLES ========== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
  position: relative;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--page-background) no-repeat, url(./assets/images/backgrounds/florest.png);
  background-size: cover;
  z-index: -1;
}

section.container {
  justify-content: space-between;
  position: relative;
  bottom: 200px;
}
/* ===== 1° SECTION (INVERTED WORLD) =========== */

#inverted-world .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
}

/* ===== 2° SECTION (TRAILLER) ================ */
#trailer {
  gap: 2.4rem;
}

#trailer .media {
  background-color: var(--primary-color);
}

#trailer .media iframe {
  position: relative;
  bottom: 2.4rem;
  left: 2.4rem;
  border: 2px solid;
  border-image: linear-gradient(var(--primary-color), var(--primary-color-contrast));
  border-image-slice: 10;
}


#trailer .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
  text-align: right;
}

/* ====== 3° SECTION (GALLERY) ========== */
#gallery-img {
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  background: var(--background-lamp-image) 127% / 50% no-repeat;
  width: 100%;
  padding-left: 120px;
}

#gallery-img .gallery-container {
  display: flex;
  width: 100%;
  padding-left: 20px;
  gap: 5rem;
  position: relative;
}

#gallery-img .gallery-container .image-content {
  width: 250px;
  height: 250px;
  outline: 20px solid var(--highlight-color);
  border: 3px solid var(--primary-color);
  box-sizing: initial;
}

#gallery-img .gallery-container .image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid var(--highlight-color);
}

#gallery-img .gallery-container .background-image {
  position: absolute;
  width: 80%;
  right: -52%;
  top: -110%;
  z-index: -1;
}

/* ====== 4° SECTION (FORM) ========= */
#form.container {
  flex-direction: column;
  gap: 6rem;
}

#form .content.info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  align-items: center;
}

#form .content.info h2 {
  max-width: 80rem;
  width: 100%;
}

#form .content.form {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}

#form .content.form h3 {
  color: var(--highlight-color);
  flex-basis: 30%;
}

#form .content.form h3 span {
  color: var(--primary-color);
}

#form .content.form form {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  background: var(--primary-color);
  color: var(--primary-color-contrast);
  width: 100%;
  position: relative;
}

#form .content.form form::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  position: absolute;
  z-index: -1;
  top: 24px;
  left: 24px;
}

#form .content.form form button {
  align-self: center;
  background: var(--highlight-color);
  color: var(--primary-color-contrast);
  font-size: 1.6rem;
}

#form .content.form form button:hover {
  background: var(--primary-color-contrast);
  color: var(--field-background-color);
}

#form .content.form form label {
  margin-bottom: .8rem;
}

#form .content.form form input,
#form .content.form form textarea {
  margin-bottom: 2.4rem;
  border: 2px solid var(--primary-color-contrast);
  background: var(--field-background-color);
  color: var(--primary-color-contrast);
  padding: 8px;
}

#form .content.form form input:focus-visible,
#form .content.form form textarea:focus-visible {
  outline: none;
  border-color: black;
}

/* ===== FOOTER ============ */


footer.container {
  flex-direction: column;
  padding: 6rem 0;
  margin: 0;
  background: var(--footer-background-color);
  text-align: center;
  position: relative;
  overflow: hidden;
  gap: 2.4rem;
}

footer p {
  max-width: 700px;
  width: 100%;
}

footer::after,
footer::before {
  content: "";
  width: 300px;
  height: 200px;
  position: absolute;
  background: url(./assets/images/footer/tape.svg) no-repeat;
  background-size: contain;
  bottom: -30px;
}

footer::after {
  right: -50px;
  transform: rotateZ(10deg);
}

footer::before {
  left: -50px;
  transform: rotateZ(-10deg);
}